<html>
<head>
  <title>Eggsclusive</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/CSS">
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/adminOnly"></script>
  
  <style>
       .center-header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>

<body>
  <header class="center-header">
    <a href="/admin" class="title"><img src="https://previews.123rf.com/images/indigolotos/indigolotos1404/indigolotos140402389/27788470-single-quail-egg.jpg" width="30" height="30" class="d-inline-block align-top" alt="">Eggsclusive</a>
  </header>

  <main>
    <h1>Delete Product</h1>

    <form action="/admin/deleteProduct" method="POST">
      <label for="product_name">Product Name:</label>
      <input type="text" id="product_name" name="name" required><br><br>
    
      <input type="submit" value="Delete Product">
    </form>
  </main>

  <footer>
    <div class="container">
        <p>&copy; 2023 Eggsclusive. All rights reserved.</p>
      </div>
  </footer>

  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap"></script>
  <script>
    
    const urlParams = new URLSearchParams(window.location.search);
    const error = urlParams.get('error');
    
    if (error) {
      
      alert('Invalid Product name!');
    }
  </script>
