<html>
<head>
  <title>Eggsclusive</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/CSS">
  <style>
    /* Your custom styles go here */
  </style>
</head>

<body>
  <header class="center-header">
    <h1><img src="/quail-egg" width="50" height="50" class="d-inline-block align-top" alt="">Eggsclusive</h1>
  </header>

  <main>
    <h1>Delete Product</h1>

    <form action="/admin/deleteProduct" method="POST">
      <label for="product_name">Product Name:</label>
      <input type="text" id="product_name" name="name" required><br><br>
    
      <input type="submit" value="Create Product">
    </form>
  </main>

  <footer>
    <div class="container">
        <p>&copy; 2023 Eggsclusive. All rights reserved.</p>
      </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap"></script>