<!DOCTYPE html>
<html>
<head>
  <title>Eggsclusive - Home</title>
<%- include("Partials/head"); -%>
</head>
<body>
  <header>
      <%- include("Partials/header"); -%>
  </header>

  <main>
    <div class="container">
      <h2>Welcome to Eggsclusive!</h2>
      <p>Discover a wide range of eggs from various breeds.</p>
    </div>
  </main>

  <footer>
    <%- include ("Partials/footer"); -%>
  </footer>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
