<!DOCTYPE html>
<html>
<head>
  <title>Eggsclusive</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/CSS">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

  
</head>
<body>
  <div id="header-placeholder"></div>


  <main>
    <div class="container">
      <h2>My Account</h2>
      <a href="/logout" class="btn btn-warning"> Logout</a>
      <div class="account-section">
        <h3>User Information</h3>
        <p>First Name: <span id="userFirstName"></span></p>
        <p>Last Name: <span id="userLastName"></span></p>
        <p>Email: <span id="userEmail"></span></p>
        <!-- <p>Password: <span type="password" id="userPassword"></span></p> -->
        <p>User Type: <span id="userType"></span></p>
      </div>
      <div class="account-section">
        <h3>Order History</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Products</th>
              <th>Date</th>
              <th>Total Price</th>
              <th>Total Quantity</th>
            </tr>
          </thead>
          <tbody id="orderHistory">
          </tbody>
        </table>
      </div>
      <div class="account-section">
        <h3>Change Password</h3>
        <a href="/changePass" class="btn btn-warning">Change Password</a>
      </div>          
    </div>
  </main>

  <div id="footer-placeholder"></div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/index.js"></script>
  
  
  <script>
    $(document).ready(function() {
      $.ajax({
        url: '/account/user',
        method: 'GET',
        success: function(data) {
          $('#userFirstName').text(data.firstName);
          $('#userLastName').text(data.lastName);
          $('#userEmail').text(data.email);
          $('#userPassword').text(data.password);
          $('#userType').text(data.userType);
        },
        error: function(err) {
          // Handle the error case
          console.error('Error fetching user information:', err);
        }
      });
  
      $.ajax({
        url: '/account/orders',
        method: 'GET',
        success: function(data) {
          // Handle the success response and populate the order history dynamically
          const orderHistory = $('#orderHistory');
  
          data.forEach(async function(order) {
            const row = $('<tr></tr>');
            row.append('<td>' + order._id + '</td>');
  
            // Fetch the details of each product in the order
            const products = [];
            for (const productId of order.products) {
              const product = await getProductById(productId);
              products.push(product);
            }
  
            // Create a card for each product in the order
            const productsHTML = products.map(product => {
              return (
                '<div class="card">' +
                '<img src="' +
                product.image +
                '" class="card-img-top" alt="Product Image">' +
                '<div class="card-body">' +
                '<h5 class="card-title">' +
                product.name +
                '</h5>' +
                '<p class="card-text">Description: ' +
                product.description +
                '</p>' +
                '</div>' +
                '</div>'
              );
            });
  
            row.append('<td>' + productsHTML.join('') + '</td>');
            row.append('<td>' + order.createdAt + '</td>');
            row.append('<td>' + order.totalPrice + '</td>');
            row.append('<td>' + order.totalQuantity + '</td>');
  
            orderHistory.append(row);
          });
        },
        error: function(err) {
          // Handle the error case
          console.error('Error fetching order history:', err);
        },
      });
    });
  
    // Function to fetch product details by ID
    function getProductById(productId) {
      return new Promise(function(resolve, reject) {
        $.ajax({
          url: '/products/' + productId,
          method: 'POST',
          data:{productId:productId},
          success: function(product) {
            resolve(product);
          },
          error: function(err) {
            reject(err);
          },
        });
      });
    }
  </script>
  
</body>
</html>
