<!DOCTYPE html>
<html>
<head>
  <title>Eggsclusive</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
 <link rel="stylesheet" href="/CSS">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

 
</head>
<body>
  <div id="header-placeholder"></div>


  <main>
    <div class="container">
      <h2>Welcome to Eggsclusive!</h2>
      <p>Discover a wide range of eggs from various breeds.</p>
      <div class="row">
        <div class="col-sm-3">
 <div class="filter-section" id="filterSection">
            <h3>Filters</h3>
            
            <hr>
            <h5>Category</h5>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="breedChicken" name="category" value="chicken">
              <label class="form-check-label" for="breedChicken">
                Chicken
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="breedDuck" name="category" value="duck">
              <label class="form-check-label" for="breedDuck">
                Duck
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="breedOstrich" name="category" value="ostrich">
              <label class="form-check-label" for="breedOstrich">
                Ostrich
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="breedQuail" name="category" value="quail">
              <label class="form-check-label" for="breedQuail">
                Quail
              </label>
            </div>
            <hr>
            <h5>Size</h5>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="Small" name="size" value="small">
              <label class="form-check-label" for="Small">
                Small
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="Medium" name="size" value="medium">
              <label class="form-check-label" for="Medium">
                Medium
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="Large" name="size" value="large">
              <label class="form-check-label" for="Large">
                Large
              </label>
            </div>
            <hr>
            <h5>Tray size</h5>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="trayOf4" name="traySize" value="4">
              <label class="form-check-label" for="trayOf4">
                4
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="trayOf12" name="traySize" value="12">
              <label class="form-check-label" for="trayOf12">
                12
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="trayOf18" name="traySize" value="18">
              <label class="form-check-label" for="trayOf18">
                18
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="trayOf30" name="traySize" value="30">
              <label class="form-check-label" for="trayOf30">
                30
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="singles" name="traySize" value="1">
              <label class="form-check-label" for="singles">
                Single Egg 
              </label>
            </div>
          </div>
        </div>
      </div>

      <div id="product-list">
        <!-- Products will be dynamically loaded here -->
      </div>
    
      
     
    </div>
  </main>

<div id="footer-placeholder"></div>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        $(document).ready(function() {
          // Make an AJAX request to retrieve the products
          $.ajax({
            url: '/products',
            method: 'PUT',
            success: function(Products) {
              // Iterate through the products and update the HTML
              Products.forEach(function(Product) {
                var productHtml = `
                  <div class="egg-card">
                    <h2>${Product.name}</h2>
                    <img src="${Product.image}" alt="${Product.name}">
                    <p>${Product.category} eggs</p>
                    <p>Size: ${Product.EggSize}</p>
                    <p>Tray of-${Product.traysize}</p>
                    <p>Price: $${Product.price}</p>
                    <a href="/products/${Product.name}" class="btn btn-info">View Product</a>
                  </div>
                `;
                $('#product-list').append(productHtml);
              });
            },
            error: function() {
              alert('Error retrieving products');
            }
          });
        });
      </script>
  <script src="/index.js"></script>
  
</body>
</html>
