<!DOCTYPE html>
<html>
<head>
  <title>Eggsclusive</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/CSS">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


  <style>
    body {
      font-family: Arial, sans-serif;
    }
    header {
      background-color: #f8f8f8;
      padding: 20px;
      text-align: center;
    }
    main {
      padding: 40px;
    }
    h2 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 10px;
    }
    footer {
      background-color: #f8f8f8;
      padding: 20px;
      text-align: center;
      font-size: 14px;
      color: #777;
    }
    #productImage {
  max-width: 100%;
  height: auto;
}
  </style>
</head>
<body>
  <div id="header-placeholder"></div>


  <main>
    <div class="container">
      <h2 id="productName"></h2>
      <div class="row">
        <div class="col-md-6">
          <img id="productImage" alt="">
        </div>
        <div class="col-md-6">
          <p id="productCategory"></p>
          <p id="productEggSize"></p>
          <p id="productTraySize"></p>
          <p id="productPrice"></p>
          <p id="productDescription"></p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </div>
  </main>

 <div id="footer-placeholder"></div>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/search"></script>
  <script src="/header.js"></script>
  <script src="/footer.js"></script>
  <script>
    $(document).ready(function() {
     const currentURL=window.location.href
      const urlParts=currentURL.split('/')
      const productName=urlParts[urlParts.length-1]

      $.ajax({
        url: '/products/'+productName,
        method: 'PUT',
        data: { productName: productName },
        success: function(data) {
          // Attach product information to the page
          $('#productName').text(data.name);
          $('#productImage').attr('src', data.image);
          $('#productCategory').text('Category: ' + data.category);
          $('#productEggSize').text('Egg Size: ' + data.EggSize);
          $('#productTraySize').text('Tray Size: ' + data.traysize);
          $('#productPrice').text('Price: $' + data.price);
          $('#productDescription').text('Description: ' + data.description);
        },
        error: function() {
          // Handle error if AJAX request fails
          console.log('Error: Failed to fetch product information');
        }
      });
    });
  </script>
</body>
</html>
