<!DOCTYPE html>
<html>
<head>
  <title>Eggsclusive - About Us</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/CSS">
</head>
<body>
  <div id="header-placeholder"></div>
  <main>
    <div class="container">
      <h2>Welcome to Our Eggcellent World!</h2>
      <p>Discover a world of exceptional eggs at Eggsclusive. From classic chicken eggs to specialty varieties like duck, quail, and ostrich, we offer a carefully curated selection to enhance your culinary adventures.</p>

      <p>Sourced directly from local farmers who prioritize quality and sustainability, our eggs are fresh, flavorful, and responsibly produced. With a focus on customer satisfaction, our dedicated team is here to assist you and ensure a seamless shopping experience.</p>

      <p>Unlock the potential of eggs in your cooking. From savory delights to delectable desserts, our eggs elevate every dish to new heights.</p>

      <img src="/freshly-laid-chicken-eggs" alt="freshly-laid-chicken-eggs" width="300" height="200">
    </div>
  </main>

<div id="footer-placeholder"></div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/index.js"></script>

</body>
</html>
