<!DOCTYPE html>
<html>
<head>
  <title>Eggsclusive - About Us</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/CSS">

</head>
<body>
  <header>
    <div class="container d-flex justify-content-between align-items-center">
      <div>
        <a href="/" class="title"><img src="/quail-egg" width="30" height="30" class="d-inline-block align-top" alt="">Eggsclusive</a>
      </div>
      <div class="d-flex align-items-center">
        <div class="search-box">
          <input type="text"  class="form-control" id="search-input" placeholder="Search Eggs...">
    <div id="search-results" class="slider"></div>
          <button class="btn btn-warning" type="button">Search</button>
        </div>
        <div class="nav-item ml-3">
          <a class="nav-link" href="/cart">
            <i class="fas fa-shopping-cart" style="color: goldenrod;"></i>
          </a>
        </div>
        <div class="nav-item ml-3">
          <a class="nav-link" href="/account">
            <i class="fas fa-solid fa-user" style="color: goldenrod;"></i>
          </a>
        </div>
      </div>
    </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link"  href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>

  <main>
    <div class="container">
      <h2>Welcome to Our Eggcellent World!</h2>
        <p>Discover a world of exceptional eggs at Eggsclusive. From classic chicken eggs to specialty varieties like duck, quail, and ostrich, we offer a carefully curated selection to enhance your culinary adventures.</p>
  
        <p>Sourced directly from local farmers who prioritize quality and sustainability, our eggs are fresh, flavorful, and responsibly produced. With a focus on customer satisfaction, our dedicated team is here to assist you and ensure a seamless shopping experience.</p>
  
        <p>Unlock the potential of eggs in your cooking. From savory delights to delectable desserts, our eggs elevate every dish to new heights.</p>
<p></p>
        <img src="/freshly-laid-chicken-eggs" alt="freshly-laid-chicken-eggs" width="300" height="200">
  
      </div>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2023 Eggsclusive. All rights reserved.</p>
    </div>
  </footer>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
