<!DOCTYPE html>
<html>
<head>
  <title>Eggsclusive - Contact Us</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/CSS">
  <style>
    /* CSS code */
    a {
      color: grey; /* Specify the desired color, e.g., grey */
      text-decoration: none; /* Remove underline from the link */
    }
  </style>

</head>
<body>
  <div id="header-placeholder"></div>


  <main>
    <div class="container">
      <h1 class="text-center" style="font-size: 30px;">Contact Us</h1>
      <p class="text-info" style="font-size: 18px;">Have a question or need assistance? Want to know who is responsible for all the Eggsclusive mess? Click on the name for GitHub account! </p>
      <p></p>

<p></p><a href="https://github.com/romcharit"> Rom Charit</a></p>
<p></p><a href="https://github.com/IZC95"> Idan Cohen</a></p>
<p></p><a href="https://github.com/talgins47"> Tal Ginsberg</a></p>
<p></p><a href="https://github.com/adirben98"> Adir Ben</a></p>
  </main>

<div id="footer-placeholder"></div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/search"></script>
  <script src="/header.js"></script>
  <script src="/footer.js"></script>
</body>
</html>
