<!DOCTYPE html>
<html>
<head>
  <title>Eggsclusive</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/CSS">

  <style>
    body {
      background-color: lightgray; 
      background-image: url('/chicken');
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .carousel-control-prev,
    .carousel-control-next {
      width: 50px;
      height: 700px;
    } 

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 100%;
      height: 100%;
      background-size: 100%, 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    
  </style>
</head>
<body>
  <div id="header-placeholder"></div>
 


  <main>
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div style="display: flex; justify-content: center; align-items: center; width: 800px; height: 400px;">
              <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white;">
                <h2 style="font-size: 35px;">Welcome to Eggsclusive</h2>
                <p style="font-size: 20px;">The best eggs in the world!</p>
                
                <div class="video-container">
                  <div id="youtube-video"></div>
                </div>
          
              </div>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="d-flex justify-content-center align-items-center" style="width: 800px; height: 400px; margin: auto;">
              <a href="/products" style="position: relative;">
                <img src="alleggs" style="max-width: 100%; max-height: 100%;" alt="Have You Seen Our Latest Products?">
                <h2 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; color: white;">
                  Have You Seen Our Latest Products?
                </h2>
              </a>
            </div>
          </div>
          
          <div class="carousel-item">
            <a href="/about">
              <div class="d-flex justify-content-center align-items-center" style="width: 800px; height: 400px; margin: auto;">
                <img src="egg_nutrition" style="max-width: 100%; max-height: 100%;" alt="Egg Nutrition">
              </div>
            </a>
          </div>

          <div class="carousel-item">
            <div class="d-flex justify-content-center align-items-center" style="width: 800px; height: 400px; margin: auto;">
              <div class="weather">
                <h2>Weather</h2>
                <div id="weather-info-container"></div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="container">
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </main>
  

  <div id="footer-placeholder"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/index.js"></script>
  <script>
   
    var videoURLs = [
      "https://www.youtube.com/embed/n_yeuDouFIk",
      "https://www.youtube.com/embed/lj1GKO-0z3A",
      "https://www.youtube.com/embed/39qzxIGz4Ik",
      "https://www.youtube.com/embed/VGkwg2jxtZQ",
      "https://www.youtube.com/embed/wl8QCFqawEc"
    ];

    
    function getRandomVideoURL() {
      var randomIndex = Math.floor(Math.random() * videoURLs.length);
      return videoURLs[randomIndex];
    }

    function updateVideoSource() {
      var videoContainer = document.getElementById("youtube-video");
      var randomVideoURL = getRandomVideoURL();

      videoContainer.innerHTML = '<iframe width="600" height="300" src="' + randomVideoURL + '" frameborder="0" allowfullscreen></iframe>';
    }

    function getWeather() {
      var weatherContainer = document.getElementById("weather-info-container");
      var apiKey = "e33e6b62e63bab424bfd99276243dbc4";
      var city = "Tel Aviv";
      var apiUrl = "https://api.openweathermap.org/data/2.5/weather?q=" + city + "&appid=" + apiKey;

      $.ajax({
        url: apiUrl,
        method: "GET",
        success: function(response) {
          var weatherDescription = response.weather[0].description;
          var temperature = Math.round(response.main.temp - 273.15); // Convert from Kelvin to Celsius

          weatherContainer.innerHTML = "<p>Location: " + city + "</p><p>" + weatherDescription + "</p><p>Temperature: " + temperature + "°C</p>";
        },
        error: function() {
          weatherContainer.innerHTML = "<p>Failed to fetch weather information.</p>";
        }
      });
    }

    window.onload = function() {
      updateVideoSource();
      getWeather();
    };

    
  </script>
</body>
</html>
